<ion-view view-title="SCAN" padding >
  <ion-content padding class="padding ">
    <h1>Scan QR Code</h1>
    <button class="button button-full button-positive" ng-click="scanBarcode()">Scan</button>
<qrcode version="2" error-correction-level="M" size="200" data="supreet"></qrcode>
  </ion-content>

</ion-view>
